# TypeScript
node_modules/
dist/

# MacOS
**/.DS_Store
**/Thumbs.db

# IDE
.vscode/
.smart-edit/
.specstory/

# CodingAgent
.cursor/
.claude/
.codex/

# Cursor
.cursorrules
.cursorignore
.cursorindexingignore
